<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuwuquan.demo.orm.dao.GoodsMapper">
  <update id="updateGoodsInventory" parameterType="java.lang.Integer">
    UPDATE goods
    SET goods_use_num = goods_use_num + #{num}
    WHERE
        goods_total_num >= goods_use_num + #{num}
    AND id = 1;

  </update>
</mapper>